<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, fallback:"no_image.jpg", size:"100x100" %>
  <% if @user == current_user %>
    <%= link_to "プロフィール編集", edit_user_path(@user) %>
  <% end %>
</div>

<%= render "post_images/list", post_images: @post_images %>